<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annual Budget Report</title>
    <!-- External Custom CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

    <ul class="nav">
        <li><a href="/" >Home</a></li>
        <li><a href="/table">Data View</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <header>
        <h1 class="cool-heading h1">Budget Report</h1>
    </header>
    <div class="container">
        <h2 class="cool-heading h2">Revenues:</h2>
        <h3 class="cool-heading h3">Total Income:</h3>
        <p>{{ data.output_incomes }}</p>
        <h3 class="cool-heading h3">Investments:</h3>
        <p>{{ data.output_investments }}</p> 
        <br>     
        <h2 class="cool-heading h2">Expenditures:</h2>
        <h3 class="cool-heading h3">Expenses:</h3>
        <p>{{ data.output_expenses }}</p>
        <h3 class="cool-heading h3">Withholdings:</h3>
        <p>{{ data.output_withholdings }}</p>
        <br>
        <h2 class="cool-heading h2">Tangible Assets</h2>
        <p>{{ data.output_assets }}</p>
        <br>  
        <h2 class="cool-heading h2" title="Total of revenues and assets minus expenditures">Total Net Worth:
        </h2>
        <p>{{ data.total }}</p>
        <br>
    </div>
</body>
</html>